/*!
* Basic landing page 2.0.0
* Copyright 2019, LucasAlt
* By: LucasAlt <lucasalt@protonmail.com>
* Under MIT License
* Created: 2019/04/07 by LucasAlt
********************************************* */

/* 
*
* Tree view
* - Import fonts
* - Base
* - Landing area
*   - Background
*   - Content
*
********************************************* */

/* Import fonts
********************************************* */
/* Open Sans Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

/* Lato Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

/* Lato Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

/* Base
********************************************* */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

/* Landing area
********************************************* */
.landing-area {
  position: relative;
  height: 100vh;
  width: 100%;

  overflow: hidden;
}

/* *************** Background *************** */
.background {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;

  background-image: url("https://source.unsplash.com/random/1280x720");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(60%);
}

/* *************** Content *************** */
.landing-area > .content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  height: 100%;
  width: 90%;

  color: white;
}

.content__image {
  height: 150px;
  width: 150px;

  overflow: hidden;
}

.content__image--is-rounded {
  border-radius: 50%;
}

.content__image > img {
  height: 150px;
  width: auto;
}

.content__description {
  text-align: center;
}

.content__description > a {
  font-weight: bold;
}
