/*
* Basic landing page 2.0.0
* Copyright 2019, LucasAlt
* By: LucasAlt <lucasalt@protonmail.com>
* Under MIT License
* Created: 2019/04/07 by LucasAlt
********************************************* */

/* 
*
* Tree view
* - Import fonts
* - Base
* - Landing area
*   - Background
*
********************************************* */

/* Import fonts
********************************************* */
/* Open Sans Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

/* Lato Regular */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}

/* Lato Bold */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: bold;
}

/* Base
********************************************* */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* Landing area
********************************************* */
.landing-area {
  position: relative;
  height: 100vh;
  width: 100%;

  overflow: hidden;
}

/* *************** Bqckground *************** */
.background {
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;

  background-image: url("https://source.unsplash.com/random/1280x720");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px) brightness(70%);
}
